.boreal {
	text-align:center;
	background-image: url("images/boreal_aurora.jpg");
	}

#sad {
	background-image: url("images/moods/sad2.gif");
	text-align:center;
}

h3 {
	color: #ffffff;
}

a {
	color: #ffffff;
}

h1 {
	color: #ffffff;
}

p {
	text-align: left;
}

.div_center {
	display: inline-block;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: rgba(128, 212, 255, 0.5);
	padding: 15px 25px; 
}

.interface {
	display: inline-block;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: rgba(128, 212, 255, 0.5);
	padding: 15px 25px; 
}

#div_signup {
	display: inline-block;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -20%);
	border-radius: 15px;
	background-color: rgba(128, 212, 255, 0.5);
	padding: 15px 25px; 
}

.little {
	font-size: 11px;
}

.button {
	padding: 15px 25px;
	font-size: 24px;
 	text-align: center;
 	cursor: pointer;
	color: #ffffff;
	background-color: #0077b3;
	border: none;
	border-radius: 40px;
	box-shadow: 0 9px #999;
}

.button:hover {
	background-color: #004466
}

.button:active {
  background-color: #3399ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#angry_button{
	padding: 15px 25px;
	font-size: 24px;
 	text-align: center;
 	cursor: pointer;
	color: #ffffff;
	background-color: #0077b3;
	border: none;
	border-radius: 40px;
	box-shadow: 0 9px #999;
}

#angry_button:hover {
	background-color: #004466
}

#angry_button:active {
  background-color: #3399ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}